.header {
  width: 100%;
  height: 550px;
  background-color: orange;
}

.header-top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-bottom {
  width: 100%;
  height: 500px;
  background-color: orange;
}
